{% extends 'base.html.twig' %}

{% block title %}New Conge{% endblock %}

{% block body %}
    <h1>Create new Conge</h1>

    {{ include('conge/_form.html.twig') }}

    <a href="{{ path('app_conge_index') }}">back to list</a>
{% endblock %}
