<form method="post" action="{{ path('app_participation_delete', {'idparticipation': participation.idparticipation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participation.idparticipation) }}">
    <button class="btn">Delete</button>
</form>
