{% extends 'base.html.twig' %}

{% block title %}Edit FicheDePaie{% endblock %}

{% block body %}
    <h1>Edit FicheDePaie</h1>

    {{ include('fiche_de_paie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fiche_de_paie_index') }}">back to list</a>

    {{ include('fiche_de_paie/_delete_form.html.twig') }}
{% endblock %}
