{% extends 'RRH.html.twig' %}

{% block title %}New Prime{% endblock %}

{% block body %}
    <h1>Create new Prime</h1>

    {{ include('prime/_form.html.twig') }}

    <a href="{{ path('app_prime_index') }}">back to list</a>
{% endblock %}
