<form method="post" action="{{ path('app_candidat_delete', {'idCan': candidat.idCan}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.idCan) }}">
    <button class="btn">Delete</button>
</form>
