<form method="post" action="{{ path('app_entretien_delete', {'idEntretien': entretien.idEntretien}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entretien.idEntretien) }}">
    <button class="btn">Delete</button>
</form>
